
/*color variables*/

$red          :       #ed1b24;
$orange       :       #F36527;
$gray         :       #444444;

$light-gray   :       #F1F1F1;
$blue         :       #4085e4;
$green        :       #439322;

$white		  :		  #ffffff;


$border-g     :       #CCCCCC;
$border-lg    :       #E6E6E6;

$txt-gray     :       #3F3F3F;
$txt-lgray    :       #424242;     


/*font-size*/

/*labels*/
.label-danger {
    background:$red;
}
.label-primary {
    background:$blue;
}
.label-warning {
    background:$orange;
}

/*buttons*/
.btn-success {
  background:$green;
  border-color:$green;  
}
.btn-danger {
  background:$red;
  border-color:$red;  
}

/*progress-bar */
.progress-bar-warning {
	background: $orange;
}
.progress {
	border:solid 1px $orange;
	background:$white;
}
