/*
	Mitsukoshi Work Flow Management System
	V.1.0
*/

@import "bootstrap";
@import "global";

@import "table";

body{
    background-color: #f5f5f5;
}

//type
.text-label {
    font-weight:300;
    font-size:14px;
}
.text-content {
    font-weight:500;
    font-size:14px;
}
//layouts

.main-content-wrapper {
    margin-top:50px;
    padding-left:0;
}
.main-content-wrapper .main-content {
    margin-top:20px;
}
.blocks {
    margin-bottom:0;
    border:solid 1px #cbcbcb;
    border-top:solid 1px #e2e2e2 !important;
    border-bottom:0 !important;
    border-radius:0;
    

}
.blocks .blocks-heading {
    background:#fff;
    border-bottom:0 !important;
}
//accordin panel
.panel-group {
    .panel-default.panel-accordion {
        border-radius:0 !important;
        margin-top:0 !important;
        margin-bottom:0 !important;
        border:solid 1px #cbcbcb;
        border-top:0 !important;
        border-bottom:0 !important;
        .panel-heading {
            background:#f4f4f4;
            border-radius:0;
            border-top:solid 1px #d1d1d1;
            .panel-title {
                a {
                    font-weight:500;
                    font-size:14px;
                    color:#444;
                }
                span {
                    small {
                        color:#000;
                        font-size:12px;
                    }
                    i {
                        color:$red;
                        margin-left:5px;
                    }
                }
            }
        }
        .panel-body {
            border-top:solid 1px #d1d1d1;
            .request-title {
                margin-bottom:0;
                font-weight:400;
                color:#000;
            }
        }
    }
    .panel-default.panel-accordion:last-child {
        border-bottom:solid #cbcbcb 1px !important;
    }    
}



//select bootstrap

div.bootstrap-select {
    width:100% !important;

}
.btn-primary-select {
    background:none !important;
}





/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */


//Toggle Styles

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.toggled {
        padding-left: 225px;

        #sidebar-wrapper {
            width: 225px;
        }
        #page-content-wrapper {
            position: absolute;
            margin-right: -250px;
        }                   
    }
}


#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 0;
}


#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 225px;
    width: 0;
    height: 100%;
    margin-left: -225px;
    overflow-y: auto;
    overflow-x:hidden;
    background: #444444;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .sidebar-footer {
        position:absolute;
        bottom:20px;
        width:100%;

        .footer-content {
            padding:5px 0;
            border-bottom:solid 1px #a1a1a1;
            border-top:solid 1px #a1a1a1;
            h5 {
                margin:3px 0;
                color:#aeaeae;
                font-weight:300;
                font-size:14px;
                + h5 {
                   font-weight:500; 
                   font-size:14px;
                }
            }
            h6 {
                font-weight:400;
                font-size:14px;
                margin:3px 0;
                color:#aeaeae;
                }
            p {
                color:#aeaeae;
                font-size:12px;
                font-weight:400;
            }
            time {
                color:#aeaeae;
                font-size:12px;
                font-weight:400;
                display:block;
            }
        }
        .footer-content:last-child {
            border-top:none !important;
        }
    }    
}





//Sidebar

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 225px;
    margin: 0;
    padding: 0; 

    .sidebar-brand {
        height:55px;
        background:#fff;
        border-bottom:solid 2px #444444;
        border-right:solid 1px #ccc;
        padding-right:3px;
        a.logo,
        a.menu-toggle {
            height:55px;
            display:inline;
            vertical-align:middle;         
        }
        a.logo {
            line-height:50px;
            img {
                height:45px;
            }
        }
        a.menu-toggle {
            line-height:55px;
            float:right;
            color:#25282B;
            cursor:pointer;
            i.fa-caret-left {
                color:$red;
            }        
        }   
    }
    .sidebar-content {
        padding:0;
        ul.list-group {
            background:#444444;
            li {
                &:first-child {

                    padding:30px 15px 10px 15px; 
                    span {
                        color: #aaaaaa;
                        font-size:13px;
                    }
                }
                &:last-child a {
                    padding-left:50px;
                }
                a.list-group-item{
                    color:#ebebeb;
                    text-decoration:none;
                    border:0;
                    border-bottom:solid 1px #4E4E4E !important;
                    border-radius:0;
                    background:#444;
                    img {
                        margin-right:10px;
                    }
                    &.active {
                        background:#EBEBEB;
                        color:#444444;
                    }
                }
            }
        }
       .seach-form {
            padding:30 15px;
                input[type="text"]{
                    background:none;
                    border-top-left-radius:18px;
                    border-bottom-left-radius:18px;
                    border-right:none;
                    box-shadow:none;
                    &:focus, :active, :hover {
                        border:solid 1px #ccc;
                        border-right:0 !important;
                    }
                }
            button {
                background:none;
                border-top-right-radius:18px;
                border-bottom-right-radius:18px;
                border-left:0;
                i {
                    color:gray !important;
                }           
            }
        }
           
    }    
}




@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
        &.toggled {
            padding-left: 0;
        }
    }

    #sidebar-wrapper {
        width: 225px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 0;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Nav header*/
nav.nav-action-links {
    position:fixed;
    display:block;
    width:100%;
    background:#F5F5F5;
    border-bottom:solid 2px #D8D8D8;
    height:55px;
    z-index:999999999999;

    .nav.nav-pills {
        padding-left:0px;
        margin-top:14px;

        li {
            &.pills a {
                background:#444444;
                color:#fff;
                padding:9px 20px !important;
            }
            &.pills.active {
                margin-top:-4px;
                a {
                    background:$orange;
                    padding: 12px 20px !important;                 
                }
            }
            //arrow on active tab content
            &.active.pills a{
                &:before {
                    top: 100%;
                    left: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;                
                }
                &:after {
                    border-color: rgba(243, 101, 39, 0);
                    border-top-color: #F36527;
                    border-width: 4px;
                    margin-left: -4px;                
                }
                &:before {
                    border-color: rgba(243, 101, 39, 0);
                    border-top-color: #F36527;
                    border-width: 7px;
                    margin-left: -7px;                
                }
            }
            //end arrow on active tab content
        }
        > li.pills > a {
            border-radius:0;
            border-top-left-radius:6px;
            border-top-right-radius:6px;
            padding:10px 20px !important;
        }
    }
}




/*Aside tab contents*/
.tab_contents {
    padding:15px 0 0 0;
    border-right:solid 1px #eaeaea;
    height:900px;
    background:$white;

    .aside.list-group {
        li {
            .list-group-item {
                border:solid 1px #eaeaea;
                border-top:0 !important;  
                padding: 6px 15px;
                border-right:0;
                background:#fbfbfb;

                p {
                    margin:0;
                    strong {
                        font-weight:500;
                        font-size:13px;
                        color:#494949;
                    }
                    &+p{
                        font-size:13px;
                    }
                }

                small {
                    margin-right:-5px;
                }

                &:last-child, :first-child  {
                    border-radius:0 !important;
                }

                &.active,
                &.active:hover,
                &.active:focus {
                    background:#444444;
                    border-left:solid 5px #ED1D1D !important;
                    border:0 !important;
                    border-radius:0 !important;
                    p strong {
                    color:#fff;
                    }                
                }
            }

        }
        li.outdated {
            border-left:solid 5px $red !important;
        }  
        li.in-progress {
            border-left:solid 5px $blue !important;
        }
    }
}

.tab_contents .aside .list-group-item.active:after, .list-group-item.active:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.tab_contents .aside .list-group-item.active:after {
    border-color: rgba(68, 68, 68, 0);
    border-left-color: #444444;
    border-width: 4px;
    margin-top: -4px;
}
.tab_contents .aside .list-group-item.active:before {
    border-color: rgba(68, 68, 68, 0);
    border-left-color: #444444;
    border-width: 7px;
    margin-top: -7px;
}

@import "brett";
@import "kel";

//media queries
@media screen and (max-width: 500px) {
    nav.nav-action-links {
        .nav.nav-pills {
            margin-top:29px;
            li {
                &.pills a {
                    padding:3px 6px !important;
                }
                &.pills.active {
                    margin-top:0px;
                    a {
                        padding: 3px 8px !important;                 
                    }
                }
            }
            > li.pills > a {
                padding:3px 6px !important;
            }
        }
    }
}

