<body style="background:#F4F4F4;">
<div class="container-fluid">
  <div class="col-md-4 text-center" style="float:none;margin:auto;left:0;right:0;top:130px; width:370px;">
    <h5><label style="font-size:1.2em; color:#454545;">Workflow Management System</label></h5>
    <div class="col-md-12" style="margin-top:15px; background:white;border:2px solid #C3C3C3;border-radius:5px; padding:50px 40px;">
      <form role="form">
        <!--Username --> 
        <div class="form-group col-md-12">
            <input type="text" class="form-control txtbox" id="username" placeholder="Username" style="height:40px;">
            <!--Valid icons-->
            <span class="icon_check_alt form-control-feedback" id="user-valid" style="right:18px;top:11px;vertical-align:45px;color:green;font-size:1.3em;"></span>
             <!--Invalid icons-->
            <span class="icon_close_alt form-control-feedback hidden" id="user-invalid" style="right:18px; top:11px;vertical-align:45px;color:red;font-size:1.3em;"></span>
        </div>
              <!--Error Message-->
              <div class="form-group col-md-12 hidden" id="error-username" style="margin-left:10px;">
                <label style="float:left; color:red; font-size:0.8em;">Please re-type your USER ID.</label>
              </div>
                  <!--Password-->
                  <div class="form-group col-md-12">
                      <input type="password" class="form-control txtbox" id="password" placeholder="Password" style="height:40px;">
                      <!--Valid icons-->
                      <span class="icon_check_alt form-control-feedback hidden" id="password-valid" style="right:18px;top:11px;vertical-align:45px;color:green;font-size:1.3em;"></span>
                       <!--Invalid icons-->
                      <span class="icon_close_alt form-control-feedback" id="password-invalid" style="right:18px; top:11px;vertical-align:45px;color:red;font-size:1.3em;"></span>
                  </div>
              <!--Error Message-->
              <div class="form-group col-md-12" id="error-password" style="margin-left:10px;">
                <label style="float:left; color:red; font-size:0.8em;">Invalid Password</label>
              </div>
            <!--Log In Button-->
            <div class="btn-group col-md-12">
              <button type="button" class="btn btn-default btn-block" style="height:45px; background-color:#E65C00; color:#E8E8E8;">Log In</button>
            </div>
          <!--Forget Password-->
          <div class="col-md-12" style="padding-top:15px; font-size: 0.8em;">
             <a href="" style="color:#B0B0B0;">Forgot Password?</a>
          </div>
      </form>
    </div>
  </div>
</div>

   <div style="position:absolute; bottom:20px; right:30px;">
      <img src="public/img/icons/logo.png" width="150">
    </div>

    <style>
    .txtbox-input{
    outline: none;
    border: 2px solid #E65C00;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    }

    .txtbox, .txtbox:focus{
    outline: none;
    border: 2px solid #d8d8d8;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    }
    </style>
