<nav class="nav-action-links">
	<ul class="nav nav-pills" style="margin-left:15px;">
	  <li class="pills" role="presentation"><a href="#">Tasks</a></li>
	  <li class="pills active" role="presentation"><a href="#">Requests</a></li>
	  <li class="pills" role="presentation"><a href="#">Admin</a></li>
	  <li class="pills" role="presentation"><a href="#">Reports</a></li>

      <li class="dropdown pull-right" style="margin-right:260px;margin-top:-8px !important;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:#000;">
           <span class="label label-warning" style="margin-right:10px;">3</span> brettvirador@yahoo.com<span class="caret" style="color:red;margin-left:5px;"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
       </li>
	</ul>
</nav>

