<div style="">
<div class="blocks panel panel-default">
  <div class="blocks-heading panel-heading">
    <a class="btn btn-danger">OVERDUE</a>

    <a onclick="printContent('overdue')" class="pull-right btn btn-default"><i class="fa  fa-print" style="margin-right:5px;"></i>PRINT</a>
  </div>
    <div class="blocks-content panel-body">
      <table class="table-data">
        <tr>
            <td style="width:12%;"><span class="text-label">Reference Number</span></td>
            <th style="width:20%;"><span class="text-content">#3245346457</span></th>

            <td style="width:12%;"><span class="text-label">Date Created</span></td>
            <th  style="width:20%;"><span class="text-content">September 5, 2015</span></th>
        </tr>
        <tr>
            <td style="width:12%;"><span class="text-label">Request Category</span></td>
            <th style="width:20%;"><span class="text-content">Information Technology</span></th>

            <td style="width:12%;"><span class="text-label">Requestor Name</span></td>
            <th  style="width:20%;"><span class="text-content">Brett Virador</span></th>
        </tr>

        <tr>
            <td style="width:12%;"><span class="text-label">Request Type</span></td>
            <th style="width:20%;"><span class="text-content">Laptop Request</span></th>

            <td style="width:12%;"><span class="text-label">Position</span></td>
            <th  style="width:20%;"><span class="text-content">HR Manager</span></th>
        </tr>

      </table>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default panel-accordion">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse"  href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          REQUEST DETAILS
        </a>
        <span role="button" data-toggle="collapse"  href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="pull-right"><small>Collapse</small><i class="fa  fa-caret-up" ></i></span>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <h5 class="request-title">Request for Laptop of Brett Virador</h5>
      <hr style="margin-top:10px;border-color:#000;">
      <table class="table-data">
        <tr>
            <td style="width:12%;"><span class="text-label">First Name</span></td>
            <th style="width:20%;"><span class="text-content">Brett</span></th>

            <td style="width:12%;"><span class="text-label">Last Name</span></td>
            <th  style="width:20%;"><span class="text-content">Virador</span></th>
        </tr>
        <tr>
            <td style="width:12%;"><span class="text-label">Department</span></td>
            <th style="width:20%;"><span class="text-content">Human Resources</span></th>

            <td style="width:12%;"><span class="text-label">Location</span></td>
            <th  style="width:20%;"><span class="text-content">Head Office</span></th>
        </tr>

        <tr>
            <td style="width:12%;"><span class="text-label">Designation</span></td>
            <th style="width:20%;"><span class="text-content">Training Supervisor</span></th>

            <td style="width:12%;"><span class="text-label">Specification</span></td>
            <th  style="width:20%;"><span class="text-content">HP Pavillion 14" Netbook PC</span></th>
        </tr>

        <tr>
            <td style="width:12%;"><span class="text-label">RAM Specification</span></td>
            <th style="width:20%;"><span class="text-content">2gb</span></th>

            <td style="width:12%;"><span class="text-label">Hard Disc Spec</span></td>
            <th  style="width:20%;"><span class="text-content">500gb</span></th>
        </tr>
      </table>
      </div>
    </div>
  </div>
  <div class="panel panel-default panel-accordion">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse"  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          TASK QUEUE
        </a>
        <span role="button" data-toggle="collapse"  href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class="pull-right"><small>Collapse</small><i class="fa  fa-caret-up" ></i></span>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="progress" style="text-align:right;">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
          <a style="margin-right:20px;color:#F36527;">50%</a>
        </div>

       <table class="table table-striped" style="width:100%;">
            <tr style="background:#ACACAC;">
              <th class="" style="color:#fff;padding:10px 15px;">Task</th>
              <th class="" style="color:#fff;padding:10px 15px;">Assignee</th>
              <th class="" style="color:#fff;padding:10px 15px;">Date and Time</th>
              <th class="" style="color:#fff;padding:10px 15px;">TAT</th>
              <th class="" style="color:#fff;padding:10px 15px;">Age</th>
              <th class="" style="color:#fff;padding:10px 15px;">Status</th>
            </tr>
            <tr>
              <td style="">Initiated</td>
              <td style="">
              <p style="margin-bottom:0;">Richmond Pangan</p>
              <p style="margin-top:0;"><small>Richmonngaman@gmailcom</small></p></td>
              <td style="">
              <p style="margin-bottom:0;">August 3, 2015</p>
              <p style="margin-top:0;"><small>10:22 AM</small></p></td>
              <td style="">1 Day</td>
              <td style="">1 Day</td>
              <td style=""><a class="btn btn-block btn-success">Initiated</a></td>
            </tr>
            <tr>
              <td style="">Initiated</td>
              <td style="">
              <p style="margin-bottom:0;">Richmond Pangan</p>
              <p style="margin-top:0;"><small>Richmonngaman@gmailcom</small></p></td>
              <td style="">
              <p style="margin-bottom:0;">August 3, 2015</p>
              <p style="margin-top:0;"><small>10:22 AM</small></p></td>
              <td style="">1 Day</td>
              <td style="">1 Day</td>
              <td style=""><a class="btn btn-block btn-success">Approved</a></td>
            </tr>
            <tr>
              <td style="">Initiated</td>
              <td style="">
              <p style="margin-bottom:0;">Richmond Pangan</p>
              <p style="margin-top:0;"><small>Richmonngaman@gmailcom</small></p></td>
              <td style="">
              <p style="margin-bottom:0;">August 3, 2015</p>
              <p style="margin-top:0;"><small>10:22 AM</small></p></td>
              <td style="">1 Day</td>
              <td style="">1 Day</td>
              <td style=""><a class="btn btn-block btn-danger">Pending</a></td>
            </tr>
          </table>

      </div>
    </div>
  </div>

</div>


</div>