<div id="sidebar-wrapper">
	<div class="sidebar-nav">
		<div class="col-md-12 sidebar-brand">
			<a class="logo" href="#">
                <img src="img/icons/logo.png">
            </a>
            <a class="menu-toggle">
				<span class="fa-stack fa-lg">
				  <i class="fa fa-caret-left -1x"></i>
				  <i class="fa fa-bars fa-stack-1x"></i>
				</span>
            </a>			
		</div>

		<div class="col-md-12 sidebar-content">
			<ul class="list-group">
				<li>
					<span>My Requests</span>
				</li>
				<li>
					<a  class="list-group-item" href="">
						<span><img src="img/icons/overdue-icon.png" height="18" width="18"></span>
						Outdated<span class="pull-right label label-danger">17</span>
					</a>
				</li>
				<li>
					<a class=" list-group-item" href="">
						<span><img src="img/icons/progress-icon.png" height="20" width="20"></span>
						In-Progress<span class="pull-right label label-primary">2</span>
					</a>
				</li>
				<li>
					<a  class="list-group-item active" href="">
						All<span class="pull-right label ">19</span>
					</a>
				</li>
			</ul>

			<div class="seach-form col-md-12">
				<form>
					<span style="color:#AAAAAA;font-size:12px;">Search My Requests</span>
				    <div class="input-group input-group-sm" style="padding:13px 0;">
				      <input type="text" class="form-control" style="color:#AAAAAA;" placeholder="Type Keyword here">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
				      </span>
				    </div>
				</form>
			</div>
		</div>



	</div>
	<div class="sidebar-footer">
	<div class="col-md-12">
		<div class="footer-content col-md-12">
			<h5>User Profile</h5>
			<h5 class="">Brett Virador</h5>
			<h6>HR Manager</h6>
			<p>brett@gmail.com</p>
		</div>
		<div class="footer-content col-md-12">
			<h5>Latest User Logs</h5>
			<time>10/22/15 3:34 pm</time>
			<time>10/22/15 3:34 pm</time>
		</div>
	</div>
	</div>
</div>