<div>
    <ul class="aside list-group">
      <li style="padding:5px 20px;border-bottom:solid 1px #E6E6E6;">
        <select class="sort-selectpicker show-tick" multiple title='Sort by'>
          <option>Priority</option>
          <option>Referenced Number</option>
          <option>Request Category</option>
          <option>Request Type</option>
          <option>Age</option>
        </select>
      </li>
      <li class="outdated">      
        <a href="#" class="list-group-item">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>

      <li class="outdated">      
        <a href="#" class="list-group-item ">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>


      <li class="in-progress">      
        <a href="#" class="list-group-item">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>


      <li class="outdated">      
        <a href="#" class="list-group-item">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>


      <li class="in-progress">      
        <a href="#" class="list-group-item">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>

      <li class="outdated">      
        <a href="#" class="list-group-item">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>
      <li class="outdated">      
        <a href="#" class="list-group-item active">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>

      <li class="outdated">      
        <a href="#" class="list-group-item">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>
      <li class="outdated">      
        <a href="#" class="list-group-item">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>

      <li class="outdated">      
        <a href="#" class="list-group-item">
          <p><strong>HR102000</strong><small class="pull-right">15/04/15</small></p>
          <p>Employee Onboarding</p>
        </a>
      </li>
    </ul>
</div>