/* Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */
/*color variables*/
@media print {
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .navbar {
    display: none;
  }

  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }

  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }

  .btn-success {
    background: #439322;
    border-color: #439322;
    -webkit-print-color-adjust: exact;
  }

  .btn-danger {
    background: #e71e28;
    border-color: #e71e28;
    -webkit-print-color-adjust: exact;
  }

  /*progress-bar */
  .progress-bar-warning {
    background: #f36527;
    -webkit-print-color-adjust: exact;
  }

  .progress {
    border: solid 1px #f36527;
    background: white;
    -webkit-print-color-adjust: exact;
  }
}
