<div id="wrapper">
  <?php $this->partial('common/sidebar'); ?>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">

        <div class="col-lg-12" style="padding:0;">
          <div class="col-md-12" style="padding-left:0;">
            <?php $this->partial('common/nav_header'); ?>
          </div>

          <div class="main-content-wrapper col-md-12">

            <div class="tab_contents col-sm-2 col-md-3 col-lg-3">
              <?php $this->partial('common/tab_contents'); ?>
            </div>

            <div id="overdue" class="main-content col-sm-10 col-md-9 col-lg-9">

              <?php $this->partial('common/overdue_requests'); ?>
              <a href="#menu-toggle" class="menu-toggle btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>

          </div>
        </div>

      </div><!--end row-->
    </div><!--end container fluid-->
  </div><!--end page content wrapper-->

</div>

